{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block button %}
<li class="nav-item">
  <a class="nav-link" href="#">Services</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/Accounts/giveIssue">Contact us</a>
</li>
{% endblock %}


{% block button2 %}
<li class="nav-item ">
  <button type="button" class="btn btn-outline-Dark text-light mx-4" onclick="window.location.href='/Accounts/viewProfile'">View Profile</button>
</li>
{% endblock %}


{% block functionality %}
<div align="center" style="margin-top: 245px;">
  <button type="button" class="btn btn-primary" onclick="window.location.href='/Accounts/viewBalance'"
    style="width: 140px; height: 100px;">View Balance</button>
  <button type="button" class="btn btn-secondary" onclick="window.location.href='/Accounts/makeTransaction'"
    style="width: 140px; height: 100px;">Make Transaction</button>
  <button type="button" class="btn btn-success" onclick="window.location.href='/Accounts/transactionHistory'"
    style="width: 140px; height: 100px;">View Transaction History</button>
        <!-- <button type=" button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-dark">Dark</button> -->

</div>
{% endblock %}