{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style type="text/css">
::placeholder{
    
   color: darkgrey;
   opacity: 10;
 }

 a:visited{
   color:white;
   background-color: black;
 }
 a:active{
   color: green;
   background-color: black;

 }
</style>
<body>
  <form action="index" method="POST">
    {% csrf_token %}
    <div class="box">
      <h1>Login</h1>
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" name="username" placeholder="Username" required>
      </div>
  
      <div class="textbox">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" placeholder="Password" required>
      </div>
  
      <input type="submit" class="btn" name="login" value="Log in">
      <br><br>
      <a href="/UserRegistration"> If you don't have an account ? </a>
  
    </div>
  </form>
  
</body>
</html>
