{% extends 'base.html' %}

{% block title %}Make Transaction{% endblock %}


{% block button %}
<li class="nav-item">
  <a class="nav-link" href="#">Services</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Contect us</a>
</li>
</ul>
{% endblock %}

{% block functionality %}
<br>
<h3 align="center">Beneficiary Details</h3>
<hr>
<div class="container" style="width: 400px;">
  <form action="/Accounts/makeTransaction" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="BeneficiaryName">Beneficiary Name</label>
      <input type="text" name="BeneficiaryName" class="form-control" id="BeneficiaryName"
        placeholder="Enter Beneficiary Name*" required>
    </div><br>
    <div class="form-group">
      <label for="AccountNumber">Account Number</label>
      <input type="number" name="AccountNumber" class="form-control" id="AccountNumber"
        placeholder="Enter Account Number*" maxlength="8" required>
    </div><br>
    <div class="form-group">
      <label for="ReAccountNumber">Re-Account Number</label>
      <input type="number" name="ReAccountNumber" class="form-control" id="ReAccountNumber"
        placeholder="Re-Enter Account Number*" maxlength="8" required>
      <small id="AccountNumber" class="form-text text-muted">(Please ensure correctness),the beneficiary name and
        account number. </small>
    </div><br>
    <div class="form-group">
      <label for="TransactionAmount">Amount</label>
      <input type="number" name="TransactionAmount" class="form-control" id="TransactionAmount"
        placeholder="Enter Amount to Transfer*" required>
    </div><br>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Accept Term & Condition</label>
    </div><br>
    <div align="center"><button type="submit" class="btn btn-primary" align="center">Make Payment</button></div>

  </form>
</div>

{% endblock %}