{% load static %}
<html>

<head>
	<title>User Online Registration</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style type="text/css">
	::placeholder {

		/*background-color: yellow;*/
		color: darkgrey;
		opacity: 10;
	}

	.button {
		width: 100%;
		background: none;
		background-color: #5caf4c;
		border: 2px solid #ebdbd2;
		color: white;
		padding: 5px;
		font-size: 18px;
		cursor: pointer;
		margin: 12px 0;
		border-radius: 20px;
	}
</style>

<body>
	<form action="UserRegistration" method="POST" id="userOnlineRegForm">
		{% csrf_token %}

		<div class="box">
			<h1>Regisration</h1>
			<!-- Account Holder Name :  -->
			<div class="textbox">
				<i class="fas fa-suitcase"></i><input type="text" name="accHoldName" placeholder="Acc. Holder Name"
					required="required" /><br>
			</div>
			<br>

			<!-- Account Number :  -->
			<div class="textbox">
				<i class="fas fa-id-card"></i><input type="account" name="userAccNumber" placeholder="Acc. Number"
					required="required" /><br>
			</div>
			<br>

			<!-- IFSC Code:  -->
			<div class="textbox">
				<i class="fas fa-code"></i><input type="text" name="userIFSC" placeholder="IFSC CODE"
					required="required" /><br>
			</div>
			<br>

			<!-- Username : -->
			<div class="textbox">
				<i class="fas fa-user"></i>
				<input type="text" name="username" id="usrNameOReg" placeholder="Set UserName"
					required="required" /><br>
			</div>
			<br>

			<!-- Password :  -->
			<div class="textbox">
				<i class="fas fa-lock"></i>
				<input type="password" name="password" id="userPasswordOReg" placeholder="Set password" minlength="6"
					required="required"><br>
			</div>
			<br>

			<!-- Confirm Password :  -->
			<div class="textbox">
				<i class="fas fa-lock"></i>
				<input type="password" name="ConfiPassword" id="userConfPasswordOReg" placeholder="Confirm password"
					minlength="6" required="required">
			</div>
			<br>
			<input type="submit" class="button" name="submit" value="SUBMIT FORM"><br>
			<input type="reset" class="button" name="reset" value="RESET FORM">

		</div>
	</form>
</body>

</html>