{% extends 'base.html' %}

{% block title %}View Balance{% endblock %}

{% block button %}
<li class="nav-item">
  <a class="nav-link" href="#">Services</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/Accounts/giveIssue">Contact us</a>
</li>
</ul>
{% endblock %}

{% block button2 %}
<li class="nav-item ">
  <button type="button" class="btn btn-outline-Dark text-light mx-4" onclick="window.location.href='/Accounts/viewProfile'">View Profile</button>
</li>
{% endblock %}


{%block message-popup%}
<div class="alert alert-success alert-dismissible fade show" role="alert" align="center">
    <strong>Hey {{Name}},</strong> makesure that you have sufficient balance in your account for using services.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock%}

{% block content %}
<div align="center" class="shadow-lg p-3 mb-5 bg-body rounded" style="margin-top: 220px;"><b><h5>Hey, Your A/C No:- {{accountNo}}.</h5><h3>Your A/C Balance is 
    ₹{{accBalance}} /-</h3></b>
</div>
<div align="center"><button  type="button" class="btn btn-dark" onclick="window.location.href='/Accounts/home'">Back</button></div>
{% endblock %}